DB_HOST = 
DB_PORT = 
DB_NAME = 
DB_USER = 
DB_PWD = 


# Agora Video Call SDK

AGORA_APP_ID = 


AGORA_APP_CERTIFICATE = 

AGORA_WHITEBOARD_SDK_TOKEN = 
AGORA_WHITEBOARD_APP_IDENTIFIER = 

GEMINI_API_KEY = 

EMAIL_PASSWORD_KEY = 
EMAIL_HOST_USER = 

SUPABASE_URL=
SUPABASE_SERVICE_KEY=
TWILIO_ACCOUNT_SID = 
TWILIO_AUTH_TOKEN = 
TWILIO_PHONE_NUMBER = 