@use "variables" as v;
@use "global" as g;

.btn {
  padding: 0.45rem 1.1rem;
  border-radius: v.$border-radius-sm;
  font-family: g.$font-sansation;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;

  &--outline {
    background-color: transparent;
    padding: 0.45rem 1.1rem;
    border-radius: v.$border-radius-sm;
    font-size: v.$font-size-btn;
    border: 1.5px solid g.$primary-orange;
    color: g.$primary-orange;
    transition: all 0.2s ease;

    &:hover {
      background-color: g.$primary-orange;
      color: g.$white;
    }
  }

  &--primary {
    background: g.$primary-gradient;
    border: none;
    color: g.$white;

    &:hover {
      filter: brightness(1.05);
    }
  }
}
